{% extends "admin/base.html.twig" %}

{% block title %}New Category
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-4 text-gray-800">Ajouter une Categorie</h1>

		{{ include('category/_form.html.twig') }}

	</div>
{% endblock %}
