{% extends 'admin/base.html.twig' %}

{% block title %}Modifier Psy
{% endblock %}

{% block body %}
	<center>
		<h1>Modifier Psy</h1><br>

		{{ form_start(form) }}
		{{ form_widget(form) }}<br>
		<button type="submit" class="btn btn-warning">Modifier</button>
	</center>
	{{ form_end(form) }}
{% endblock %}
