{% extends 'base.html.twig' %}

{% block title %}Resultat de test
{% endblock %}

{% block body %}
	<div class="container" style="text-align: center;">
		{# <h1 class="h3 mb-4 text-gray-800" style="margin: 99px;">Resultat de test</h1> #}
		<div style="margin: 159px;">
			<p class="mt-5">{#Ton score:#} Données envoyées avec succès, merci pour votre participation !
				{# {{ score }} #}
			 	{#% #}</p>
			{# <a class="btn btn-primary mt-3" href="{{ path('pdf_show', {'filename': pdfFileName}) }}" target="_blank">Voir le résultat</a> #}
		</div>
	</div>
{% endblock %}
