{% extends "base.html.twig" %}

{% block body %}
	<br><br><br><br>
	<!-- Begin Page Content -->
	<div
		class="container-fluid mt-5">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">
			<div class="alert alert-info" role="alert">
				<p>Vous êtes connecté</p>
			</div>

		</div>
		<!-- /.container-fluid -->
	{% endblock %}
