{% extends 'base.html.twig' %}

{% block title %}Edit ProfilposteResultat{% endblock %}

{% block body %}
    <h1>Edit ProfilposteResultat</h1>

    {{ include('profilposte_resultat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profilposte_resultat_index') }}">back to list</a>

    {{ include('profilposte_resultat/_delete_form.html.twig') }}
{% endblock %}
