{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle évaluation
{% endblock %}


{% block body %}

	<center>
		<h1>Test D'evaluation psychologique
		</h1>

		<table style="width:90%" border="2">
			<thead>
				<tr>
					<th class="table-primary">L'Entretien</th>
					<th class="table-primary">Appréciation</th>
					<th class="table-primary">Commentaire</th>
					<th class="table-primary">ID de question d'entretien</th>

				</tr>
			</thead>
			<tbody>
				{% for psycho in psychos %}
					<tr>
						<td>{{ psycho.getCompetenceName() }}</td>
						<td>{{ psycho.getEvaluationLevel() }}</td>
						<td>{{ psycho.commentaire }}</td>
						<td>{{ psycho.psy.id }}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</center>
{% endblock %}
